.sidebar {
  height: 100%;
  width: 210px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #222d32;
  overflow-x: hidden;
  padding-top: 16px;
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  padding-bottom: 30px;
}
.logout{
  bottom: 0;
}

.sidebar a:hover {
  color: #f1f1f1;
}
.fa-power-off{
  padding-top: 400px;
}
@media only screen and (max-width:458px){

  .sidebar {
    height: 100%;
    width: 60px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 16px;
  }

  a{
    display: none;
  }
}
